body {
	margin: 0;	
	font-family: 'Raleway', sans-serif;
	height: 100%;
	background-color: black;
}
header {
	background: black;
	color: white;
    width: 100%;
    position: fixed;
    z-index: 3;


    
}
header h1 {
	font-size: 32px;
	margin: 0;
	display: inline;
	color: white;
	position: absolute;
	top: 13px;
	right: 19px;
	font-weight: 700;

		
}
nav ul {
	width: 100%;
	margin: 0;
	display: inline;
	position: relative;
	left: -18px;
}
nav ul li {
	font-size: 32px;
	display: inline-block;
	list-style-type: none;
	padding: 13px 20px 10px 0px;
	margin: 0;
	font-family: 'Raleway', sans-serif;

}

}
nav ul li {
	color: white;
	text-decoration: none;
}
nav ul li a {
	text-decoration: none;
	color: #999;
}
.altrapagina:hover {
	color: white;
}
.bigconteiner {
	width: 100%;
	min-height: 100%;
	position: relative;
	top: 60.5px;
	z-index: 2;
	margin: 0px;
}
.conteiner {
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(210px, auto);
	overflow: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	display: grid;
	padding: 0px 20px 60.5px 20px;
	background: black;
}


.three {
	grid-column: 3;
	grid-row: 1 / 3;
	background-color: #999;
	background-image: url(imma1.jpg);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	



}
.one {
	background-color: #999;
	background-image: url(deco.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.two {
	background-color: #999;
	background-image: url(deco2.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.four {
	background-color: #999;
	background-image: url(rayd.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.five {
	background-color: #999;
	background-image: url(str.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.six {
	grid-column: 1;
	grid-row: 3 / 5;
	background-color: #999;
	background-image: url(BufaloDeco.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.seven {
	grid-column: 2 / 4;
	grid-row: 3 / 5;
	background-color: #999;
	background-image: url(volpe.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.eight {
	grid-column: 1 / 3;
	grid-row: 5;
	background-color: #999;
	background-image: url(mc.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.nine {
	grid-column: 3 ;
	grid-row: 5 / 7;
	background-color: #999;
	background-image: url(reptile.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.ten {
	grid-column: 1;
	grid-row: 6;
	background-color: #999;
	background-image: url(heds.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.eleven {
	grid-column: 2 ;
	grid-row: 6;
	background-color: #999;
	background-image: url(faze.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	

}
.twelve {
	grid-column: 2 / 4 ;
	grid-row: 7 / 9;
	background-color: #999;
	background-image: url(atenecover.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}
.tredici {
	grid-column: 1 ;
	grid-row: 7 / 9;
	background-color: #999;
	background-image: url(imi.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.quattordici {
	grid-column: 3 ;
	grid-row: 9 / 11;
	background-color: #999;
	background-image: url(cheer.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.quindici {
	grid-column: 1 ;
	grid-row: 9 / 11;
	background-color: #999;
	background-image: url(mascal.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.sedici {
	grid-column: 2 ;
	grid-row: 9 / 11;
	background-color: #999;
	background-image: url(diego.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;	
}
.diciassette {
	grid-column: 1 / 3;
	grid-row: 11 / 13;
	background-color: #999;
	background-image: url(fm.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}
.diciotto {
	grid-column: 3;
	grid-row: 11 / 13;
	background-color: #999;
	background-image: url(NyjahHuston.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}
.diciannove {
	grid-column: 2 / 4;
	grid-row: 13;
	background-color: #999;
	background-image: url(kleyz.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}
.venti {
	grid-column: 1;
	grid-row: 13;
	background-color: #999;
	background-image: url(pc.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}
.ventuno {
	grid-column: 1;
	grid-row: 14 / 16;
	background-color: #999;
	background-image: url(cis.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}


.ventidue {
	grid-column: 2 / 4;
	grid-row: 14 / 16;
	background-color: #999;
	background-image: url(zenna.png);
	background-blend-mode: multiply;
	background-size: 150%;
	background-position: center;
	transition: all ease-in-out 300ms;
}










	







.piedemax {
	width: 100%;
	height: 50px;
}
.piede {
	background-color: white;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5,1fr);
}




 h2 {
	font-size: 25px;
	font-weight: 400;
	
}
 p { 
	font-size: 20px;
	text-align: left;
	font-weight: 400;
	
}
a{
	text-decoration: none;
	color: black;
	font-weight: 400;
}
.mail:hover{
	color: #999;
	font-weight: 400;
	
}
.instagram:hover{
	color: #999;
font-weight: 400;
}
.primasezione {
	grid-column: 1 / 3;
	padding: 20px;
	font-weight: 400;
}
.secondasezione {
	grid-column: 3 / 5 ;
	padding: 20px;
	font-weight: 400;
}
.terzasezione {
	grid-column: 5;
	padding: 20px;
	font-weight: 400;
}
.tornasu:hover{
	color: #999;

}
.chisono:hover{
	color: #999;
	font-weight: 400;
}

.grandebox {
	width: 100%;
	min-height: 100%;
	position: relative;
	top: 60.5px;
	z-index: 2;
}
.conteinerdue {
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(250px, auto);
	overflow: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	display: grid;
	padding: 0px 20px 60.5px 20px;
	background: black;

}
.uno {
	grid-column: 1;
	grid-row: 1 /  3;
	color: white;
	font-weight: 400;
	text-align: left;
	position: relative;
	left: 3px;
	top: -24px;
}
.uno p a {
	color:white;
}
.uno p a:hover {
	color: #999;
}



.due {
	grid-column: 2 / 4;
	grid-row: 1 /  3;
	background-color: #999;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("uno.jpg");
}
.slide2 {
  background-image: url("due.JPG");
}
.slide3 {
  background-image: url("tre.JPG");
}
.slide4 {
  background-image: url("quattro.JPG");
}
.slide5 {
  background-image: url("cinque.JPG");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.8;
  transform: scale(0.5,0.5);
  transition: 500ms;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #000 transparent transparent;
  left: 0;
  margin-left: 20px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #000;
  right: 0;
  margin-right: 20px;
 }
 .arrow:hover {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 1;
  transform: scale(1,1);
} 
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #999;
}



.conteiner a:hover {
	background-color: white;
	background-blend-mode: none;
	background-size: 100%;
	transition: all ease-in-out 300ms;
	cursor: crosshair;	

} 
